<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gofteam.cottagerenren"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:name="com.gofteam.cottagerenren.RenrenApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.gofteam.cottagerenren.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gofteam.cottagerenren.AppBaseActivity"
            android:label="@string/title_activity_app_base" >
        </activity>
        <activity
            android:name="com.gofteam.cottagerenren.GuideActivity"
            android:label="@string/title_activity_guide" >
        </activity>
        <activity
            android:name="com.gofteam.cottagerenren.AuthActivity"
            android:label="@string/title_activity_auth" >
        </activity>
        <activity
            android:name="com.gofteam.cottagerenren.LeftPanelActivity"
            android:label="@string/title_activity_left_panel" >
        </activity>
        <activity
            android:name="com.gofteam.cottagerenren.MainPageActivity"
            android:label="@string/title_activity_main_page" >
        </activity>
    </application>

</manifest>
